ul.nav {
    box-shadow: 0 3px 4px -2px rgba(0,0,0,.39);
    height: 55px;
    margin-bottom: 20px;
    background-color: #203c5a;
    li a {
        color: #fff;
        &.nav-link { display: block; padding: 1.0rem 1rem; }
    }
}