.teams_logo {
    img { width: 50px }
}

.goals { font-size:18px; font-weight: bold;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #203c5a;
}

a {color: #203c5a;}
.card-link { color: #203c5a; font-weight: bold; }