.ngx-charts-outer.ng-tns-c53-0.ng-trigger.ng-trigger-animationState {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ngx-charts-outer {
    margin-left: auto !important;
    margin-right: auto !important;
}